.Matches_Sidebar {
    width: 250px;
    height: 100%;
    /* position: fixed; */
    top: 0;
    left: 0;
    background-color: #f2f2f2;
    background-color: #fff;
    transition: width 0.3s;
    overflow-y: scroll;
    /* border: 1px solid; */
    /* text-align: center; */
    /* border-radius: 20px; */
  }
  
  .Matches_Sidebar .sidebar-toggle {
    cursor: pointer;
    padding: 10px;
    text-align: center;
    background-color: #ddd;
  }
  
  .Matches_Sidebar .sections {
    padding: 20px;
  }
  
  .Matches_Sidebar .section {
    /* padding: 10px 0; */
    cursor: pointer;
  }
  
  .Matches_Sidebar .open {
    width: 0;
    transition: width 0.3s;
  }
  
  .Matches_Sidebar .fa-chevron-left {
    transform: rotate(180deg);
  }
  
  .Matches_Sidebar .fa-chevron-right {
    transform: rotate(0deg);
  }
  .Matches_Sidebar .section input{
    width: 11px;
    height:9px;
    margin-right: 2px;
  }
  .Matches_Sidebar .section_input{
    width: 7px;
    height: 7px;
    margin-right: 2px;
    display: inline;
  }
  .Matches_Sidebar .section{
    /* padding: 0%;
    margin: 0%; */
    padding: 1% 5%;
  }
  .Matches_Sidebar .section:hover{
    /* background-color: #f2f2f2; */
    background-image: linear-gradient(166deg, rgb(242, 40, 118) 0%, rgb(148, 45, 217) 100%);
    /* -webkit-box-shadow: 0.872px 9.962px 20px 0px rgba(12, 78, 165, 0.3); */
    /* box-shadow: 0.872px 9.962px 20px 0px rgba(12, 78, 165, 0.3); */
    /* padding: 11px 35px; */
    /* font-weight: 600; */
    /* border-radius: 50px; */
    /* display: inline-block; */
    border: 0px;
    cursor: pointer;
    /* width: auto;
    height: auto; */
    /* color: #fff;
    -webkit-box-shadow: 1px 10px 20px 0px rgba(12, 78, 165, 0.43);
    box-shadow: 1px 10px 20px 0px rgba(12, 78, 165, 0.43); */
    color:white;
  }
  /* .section label{ */
    /* width: 7px;
    height: 7px;
    margin-right: 2px; */
    /* display: block; */
  /* } */
  .Matches_Sidebar .section-heading{
    /* background-color: #ddd; */
    /* padding: 1%;
    text-align: center; */
      border: 0px;
      text-align: left;
      /* padding: 40px 40px 40px 20px; */
      border-radius: 0px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-weight: 700;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
      /* font-size: 20px; */
      position: relative;
  
  }
  @media (max-width: 768px) {
    .Matches_Sidebar {
      width: 100%;
      margin: 0;
      border-radius: 0;
    }
  }
  