/* .Dashboard_Nav .nav-link.active {
    background-color: red;
    color: orange;
    border-radius: 4px;
  } */
  .Notification_Navbar .navbar {
    background-color: #ff4d4d; /* Red background color for the entire navbar */
    color: white; /* White text color for the entire navbar */
  }
  .Notification_Navbar .nav-link.active {
    /* background-color: #ff4d4d;  */
    background-color: #ff6666;
    color: white; 
    border-radius: 4px;
  }
  
  .Notification_Navbar .nav-link:hover {
    /* background-color: #ff6666;  */
    background-color: #ff8888;
    color: white; 
    transition: background-color 0.3s, color 0.3s;
  }